body{
background:#141414;
color:white;
font-family:Arial;
margin:0;
}

header{
background:black;
padding:20px;
text-align:center;
}

input{
padding:10px;
width:300px;
border:none;
border-radius:5px;
}

button{
padding:10px 20px;
background:red;
border:none;
color:white;
cursor:pointer;
}

.grid{
display:grid;
grid-template-columns:repeat(5,1fr);
gap:15px;
padding:20px;
}

.movie-card{
background:#222;
padding:10px;
border-radius:6px;
}

.poster-grid{
display:grid;
grid-template-columns:repeat(5,1fr);
gap:20px;
padding:20px;
}

.poster img{
width:100%;
border-radius:10px;
}

.poster p{
text-align:center;
}

.chart{
display:block;
margin:auto;
width:500px;
}